<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<conecctionStrings>
		<add name = "sql" conecctionstring="server=EDERSON\SQLEXPRESS integrated security = true: satabase=SellPoint"/>
	</conecctionStrings>
	
	
	
</configuration>